{% extends "layout.html" %}
{% block body %}
    <h1>Allen-Bradley PLC</h1>
    <h2>Outputs</h2>
    <div>
        {% for slot in range(0,slotCount) %}
            <div class="ioSlot" name="{{ slot }}">
            {% for word in range(0,1) %}
                <div class="ioWord" name="{{ slot }}-{{ word }}">
                {% for terminal in range(0,terminalCount) %}
                    <span class="ioTerminal" name="O-{{ slot }}-{{ word }}-{{ terminal }}">
                        0
                    </span>
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
    <h2>Inputs</h2>
    <table>
        <tbody>
            <tr>
                <th>Word</th>
            {% for slot in range(0,slotCount) %}
                <th>{{ slot }}</th>
            {% endfor %}
            </tr>
            {% for word in range(0,10) %}
                <tr class="ioTableRow" name="{{ slot }}">
                    <td>{{ word }}</td>
                {% for slot in range(0,slotCount) %}
                    <td class="ioTableData" name="{{ slot }}-{{ word }}">
                    {% for terminal in range(0,terminalCount) %}
                        <span class="ioTerminal" name="I-{{ slot }}-{{ word }}-{{ terminal }}">
                            0
                        </span>
                    {% endfor %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}