<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
<body>
    {% block body %}
    {% endblock %}
</body>
</head>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="/js/site.js"></script>
<script src="/js/plc.js"></script>
</html>