* {
    box-sizing: border-box;
}

h1{
    color: red;
}

.ioSlot {
    border: 1px solid green;
    display: inline-block;
    /*width: 150px;*/
}

.ioWord {
    font-size: 0;
    display: block;
    border: 1px solid red;
}

.ioTerminal {
    font-size: 16px;
    text-align: center;
    /*display: block;*/
    /*width: 20px;*/
    /*border: 1px solid blue;*/
}

.ioTableRow {

}

.ioTableData {
    /*display: inline-block;*/
    min-width: 150px;
    font-size: 0;
}